<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="username" class="form-control"
        placeholder=" Enter email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" required formControlName="password" class="form-control"
        placeholder="Enter password"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button (click)="Signup()" expand="block" color="primary">Register</ion-button>
          <span class="divider line one-line"><b>or</b></span>
          <span class="already"><b>Already a user?</b></span>
          <ion-button type="submit" expand="block" color="danger">Sign In</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>